@model Catalogue_re.Web.Models.ViewModels.EmployeeVM

@{
    ViewBag.Title = "Добавление сотрудника";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="se-pre-con" style="display:none;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Добавление сотрудника</h2>
                </div>               
                <div class="content">
                    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { enctype = "multipart/form-data",id = "create-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Room, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonalPhone, htmlAttributes: new { @class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PersonalPhone, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                    @Html.ValidationMessageFor(model => model.PersonalPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PositionId, "Должность", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("PositionId", null, "Выберите должность...", htmlAttributes: new { @class = "list", @id = "testselectset", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentId, "Отдел", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("DepartmentId", null, "Выберите отдел...", htmlAttributes: new { @class = "list", @id = "testselectset", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateAdoption, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DateAdoption, new { htmlAttributes = new { @class = "date-picker" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateDismissal, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DateDismissal,  new { htmlAttributes = new { @class = "date-picker", @id="dateDis" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <img src="~/Content/assets/img/default-avatar.png" class="img-responsive col-md-1" style="width:110px; height:110px;" />
                                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                                    <div id="imgPreview" class="col-md-4" style="display:none;">
                                        <i class="fa fa-arrow-right fa-3x" style="float: left; position: inherit; margin-top: 8%; padding-right: 9%;"></i>
                                        <img class="img-responsive" id="targetImg" style="width:100px; height:100px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="file" name="productImg" id="imageBrowes" class="btn btn-default" style="display:inline-block;" accept="image/x-png,image/gif,image/jpeg"/>
                                        <input type="button" value="Сброс" id="imageBrowes" onclick="ClearPreview()" class="btn btn-default" />
                                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Добавить" class="btn btn-default" id="btn" /> |
                                        <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Employee")">Назад</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal window for image size 2MB-->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                                        </div>
                                        <div class="modal-body">
                                            <span id="MessageError"></span>                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    }                                                      
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        checkPhotoPreview();
    </script>    
}