@model Catalogue_re.Web.Models.ViewModels.EmployeeVM

@{
    ViewBag.Title = "Просмотр сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Просмотр сотрудника</h2>
                </div>
                <div class="content">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <!-- Field EmployeePhoto -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Photo)
                            </dt>
                            <dd>
                                <img src="~/images/@Model.Photo" width="100" height="100" />
                            </dd>
                            <!-- Field DepartmentName -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Department.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Department.Name)
                            </dd>
                            <!-- Field PositionName -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Position.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Position.Name)
                            </dd>
                            <!-- Field EmployeeFullName -->
                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>
                            <!-- Field EmployeeRoom -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Room)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Room)
                            </dd>
                            <!-- Field EmployeeAddress -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <!-- Field EmployeePhone -->
                            <dt>
                                (@Html.DisplayNameFor(model => model.Department.Administration.Code)) @Html.DisplayNameFor(model => model.Phone)
                            </dt>
                            <dd>
                                (@Html.DisplayFor(model => model.Department.Administration.Code)) @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <!-- Field EmployeePersonalPhone -->
                            <dt>
                                @Html.DisplayNameFor(model => model.PersonalPhone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PersonalPhone)
                            </dd>
                            <!-- Field EmployeeEmail -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <!-- Field EmployeeSkype -->
                            <dt>
                                @Html.DisplayNameFor(model => model.Skype)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Skype)
                            </dd>
                            <!-- Field DateAdoption -->
                            <dt>
                                @Html.DisplayNameFor(model => model.DateAdoption)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DateAdoption)
                            </dd>
                            <!-- Field DateDismissal -->
                            <dt>
                                @Html.DisplayNameFor(model => model.DateDismissal)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DateDismissal)
                            </dd>
                        </dl>
                    </div>
                    <!-- Buttons Edit and Back -->
                    <p>
                        <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Home")">Назад</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>